.RCMarginTop-1 {
    padding-top: 1rem !important;
}
.RCMarginBottom-1 {
    margin-bottom: 1rem !important;
}
.RCMarginBottom-2 {
    margin-bottom: 2rem !important;
}
.RCLogoZeroBottom {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.RCDoubleLogo {
    margin-bottom: 1rem !important;
    margin-top: 0 !important;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
}
.footerContainer {
    position: relative;
    min-height: 100vh;
}
