.RCWhiteBG {
    background-color: white !important;
}
.RCPadding {
    padding: 5px !important;
}
.fontColor.RLGold {
    color: #d4af37 !important;
}
.fontColor.RLRed {
    color: #db2828 !important;
}
.fontColor.RLViolet {
    color: #6435c9 !important;
}
