.bannerPositionXL {
    z-index: 100 !important;
    position: absolute !important;
    left: -2% !important;
    top: -1em !important;
}
.bannerPositionL {
    z-index: 100 !important;
    position: absolute !important;
    left: -2% !important;
    top: -1em !important;
}
.bannerPositionM {
    z-index: 100 !important;
    position: absolute !important;
    left: -3% !important;
    top: -1em !important;
}
.bannerPositionS {
    z-index: 100 !important;
    position: absolute !important;
    left: -5.5% !important;
    top: -1em !important;
}
.bannerRLGold {
    border-color: #d4af37 !important;
    background-color: #d4af37 !important;
    color: #000000 !important;
}