.RCNoTopPadding {
    padding-top: 0 !important;
}
.RCTopPadding {
    padding-top: 15px !important;
}

.RCSpace-5 {
    margin-top: 1rem !important;
}

.RCMarginBottom {
    margin-bottom: 0 !important;
}
.RCMarginBottom-1 {
    margin-bottom: 1rem !important;
}
.RCMarginTop {
    margin-top: 0 !important;
}
.RLWhite {
    color: white !important;
}
.RLGold {
    color: #d4af37 !important;
}
.RLViolet {
    color: #6435c9 !important;
}
