.backgroundImg{
  background-image: url(https://res.cloudinary.com/rightlink/image/upload/v1594868601/p2pRich/logo_vcg55z.png);
  background-repeat: space;
  background-position: center;
  background-attachment: fixed;
  background-size: 100px 100px;
  padding-top: 25px;
}